.Burger {
  width: 50%;
  margin: auto;
  height: 250px;
  overflow: auto;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: 5%;
}

@media (min-width: 791px) and (min-height: 400px) {
  .Burger {
    width: 75%;
    height: 300px;
  }
}

@media (min-width: 791px) and (min-height: 401px) {
  .Burger {
    height: 600px;
  }
}

@media (min-width: 1000px) and (min-height: 700px) {
  .Burger {
    height: 600px;
  }
}
